<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#1890ff" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="keywords"
      content="antd,umi,umijs,ant design,Scaffolding, layout, Ant Design, project, Pro, admin, console, homepage, out-of-the-box, middle and back office, solution, component library"
    />
    <meta
      name="description"
      content=" An out-of-box UI solution for enterprise applications as a React boilerplate."
    />
    <meta
      name="description"
      content="
      Out-of-the-box mid-stage front-end/design solution."
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>芯牧云案例</title>
    <!-- leaflets——地图 -->
    <script src="<%= context.config.publicPath +'static/leaflet/leaflet.js'%>"></script>
    <script src="<%= context.config.publicPath +'static/leaflet/leaflet.markercluster.js'%>"></script>
    <link
      rel="stylesheet"
      href="<%= context.config.publicPath +'static/leaflet/leaflet.css'%>"
    />
    <link
      rel="stylesheet"
      href="<%= context.config.publicPath +'static/leaflet/MarkerCluster.css'%>"
    />
    <link
      rel="stylesheet"
      href="<%= context.config.publicPath +'static/leaflet/MarkerCluster.Default.css'%>"
    />

    <!-- 封装的地图事件——二维 -->
    <script src="<%= context.config.publicPath +'sdk.js'%>"></script>
    <!-- 封装的地图事件——三维 -->
    <script src="http://139.129.91.162:8080/xinmuyun/3d/sdk.js"></script>

    <!-- 百度地图 -->
    <script src="https://api.map.baidu.com/api?v=1.0&&type=webgl&ak=EtGdDW2jYTtiQqWPFVFiAuxTIWY3VZD4"></script>

    <script>
      window._AMapSecurityConfig = {
        securityJsCode: '16f81296c450f8bb5149a86056dae9c8',
      };
      var map;
    </script>
  </head>
  <body>
    <noscript>
      <div class="noscript-container">
        Hi there! Please
        <div class="noscript-enableJS">
          <a
            href="https://www.enablejavascript.io/en"
            target="_blank"
            rel="noopener noreferrer"
          >
            <b>enable Javascript</b>
          </a>
        </div>
        in your browser to use Ant Design, Out-of-the-box mid-stage front/design
        solution!
      </div>
    </noscript>
    <div id="root"></div>
    <!-- 高德地图数据引入 -->
    <link
      rel="stylesheet"
      href="https://cache.amap.com/lbs/static/main1119.css"
    />
    <script
      type="text/javascript"
      src="https://webapi.amap.com/maps?v=1.4.15&key=514c99148afec38a187b745ddbd1e517&plugin=AMap.Autocomplete,AMap.PlaceSearch,plugin=Map3D,AMap.DistrictSearch,AMap.PolyEditor,AMap.MouseTool,AMap.MarkerCluster,AMap.Walking,AMap.CircleMarker,AMap.MoveAnimation"
    ></script>
    <script
      type="text/javascript"
      src="https://cache.amap.com/lbs/static/addToolbar.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"
    />
    <!-- Threejs数据引入 -->
    <script
      async
      src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"
    ></script>
    <script type="importmap">
      {
        "imports": {
          "three": "../build/three.module.js",
          "three/addons/": "./jsm/"
        }
      }
    </script>
  </body>
</html>
